<div class="container">

  <table class="table table-striped table-bordered">
    <tr>
      <th>Name</th>
      <th>RecordTypeId</th>
      <th>Billing City</th>
      <th>Billing Country</th>
    </tr>

    <% @contacts.each do |contact| %>
      <tr>
        <td><%= account.recordtypeid %></td>
        <td><%= account.name %></td>
        <td><%= account.billingcity %></td>
        <td><%= account.billingcountry %></td>
      </tr>
    <% end %>
  </table>

</div>
